.title {
  margin: 1em;
}

.playerlist {
  margin: 1em;
  width: 100%;
}

.player {
  height: 320px;
  width: 320px;
  float: left;
  overflow: auto;
  flex-grow: 1;
  background-color: #EEEEEE;
  border-radius: 1em;
}

img {
  width: 100%;
  border-radius: 1em;
}

.playerInfo {
  display: block;
  padding: 1.2em;
}

.infofield {
  margin: 0em 0.5em 2.2em 0.5em;
}

.profileImage {
  position: relative;
  margin: 0.5em;
  width: 300px;
}
